@font-face {
  font-family: "iconfont"; /* Project id 3478416 */
  src: url('./iconfont.woff2?t=1656512978001') format('woff2'),
       url('./iconfont.woff?t=1656512978001') format('woff'),
       url('./iconfont.ttf?t=1656512978001') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-hot:before {
  content: "\e758";
}

.icon-xiaoyuhao:before {
  content: "\e628";
}

.icon-home1:before {
  content: "\e600";
}

.icon-cart:before {
  content: "\e6af";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-my:before {
  content: "\e78b";
}

.icon-category:before {
  content: "\e63b";
}

.icon-24gl-headset:before {
  content: "\ea0a";
}

