@font-face {
  font-family: "iconfont"; /* Project id 3478416 */
  src: url('./iconfont.woff2?t=1657388056588') format('woff2'),
       url('./iconfont.woff?t=1657388056588') format('woff'),
       url('./iconfont.ttf?t=1657388056588') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e61d";
}

.icon-dizhi:before {
  content: "\e63d";
}

.icon-lajitong:before {
  content: "\e66b";
}

.icon-zuojiantou:before {
  content: "\e68d";
}

.icon-zhaohuimima:before {
  content: "\e63f";
}

.icon-register:before {
  content: "\e613";
}

.icon-geren:before {
  content: "\e7a3";
}

.icon-youhuiquan:before {
  content: "\e649";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-yijianxiang:before {
  content: "\e6b9";
}

.icon-pintuan:before {
  content: "\e618";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-dizhiguanli-my:before {
  content: "\e780";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-hot:before {
  content: "\e758";
}

.icon-xiaoyuhao:before {
  content: "\e628";
}

.icon-home1:before {
  content: "\e600";
}

.icon-cart:before {
  content: "\e6af";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-my:before {
  content: "\e78b";
}

.icon-category:before {
  content: "\e63b";
}

.icon-24gl-headset:before {
  content: "\ea0a";
}

