.pt5{
  padding-top: 5px;
}
.pt6{
  padding-top: 6px;
}
.pt7{
  padding-top: 7px;
}
.pt8{
  padding-top: 8px;
}
.pt9{
  padding-top: 9px;
}
.pt10{
  padding-top: 10px;
}
.pt11{
  padding-top: 11px;
}
.pt12{
  padding-top: 12px;
}
.pt13{
  padding-top: 13px;
}
.pt14{
  padding-top: 14px;
}
.pt15{
  padding-top: 15px;
}
.pt16{
  padding-top: 16px;
}
.pt17{
  padding-top: 17px;
}
.pt18{
  padding-top: 18px;
}
.pt19{
  padding-top: 19px;
}
.pt20{
  padding-top: 20px;
}


.pr5{
  padding-right: 5px;
}
.pr10{
  padding-right: 10px;
}
.pr15{
  padding-right: 15px;
}
.pr20{
  padding-right: 20px;
}

.pb5{
  padding-bottom: 5px;
}
.pb8{
  padding-bottom: 8px;
}
.pb10{
  padding-bottom: 10px;
}
.pb15{
  padding-bottom: 15px;
}
.pb20{
  padding-bottom: 20px;
}

.pl5{
  padding-left:5px;
}
.pl10{
  padding-left:10px;
}
.pl15{
  padding-left:15px;
}
.pl20{
  padding-left:20px;
}


.f12{
  font-size: 12px;
}
.f13{
  font-size: 13px;
}
.f14{
  font-size: 14px;
}
.f15{
  font-size: 15px;
}
.f18{
  font-size: 18px;
}
.f20{
  font-size: 20px;
}
.f24{
  font-size: 24px;
}


.txt-right{
  text-align: right;
}
.txt-center{
  text-align: center;
}

.color-red{
  color:#b0352f;
}
.color-a-red{
  color:#cb3c38;
}
.color-s6{
  color:#666666;
}
.color-s9{
  color:#999999;
}
.color-222{
  color:#222;
}

.line-h{
  width: 10px;
  height: 100%;
}

