.flex-justify-center{
  display: flex;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-justify-between{
  display: flex;
  justify-content: space-between;
}
.flex-justify-align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

