@import 'normalize.css';
@import '@/assets/font/iconfont.css';
@import '@/assets/common/custom.scss';
@import '@/assets/common/flex.scss';
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
img{
  vertical-align: middle
}
h1{
  margin: 0;
  font-weight: normal;
}
